
img,
embed,
object,
video {
	max-width: 100%;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.box {
	width: 100%;
}

@media screen and (max-width: 599px) {
    body {background-color: Red;}
		.header {
	    order: 0;
	    width: 95.5%;
	  }
		#footer {
		  background-color: Red;
		  color: #aaa;
		  font-size: 8pt;
		  letter-spacing: 1px;
		  padding: 25px;
		  text-align: center;
		  text-transform: uppercase;
		}
 }
 @media screen and (min-width: 600px) and (max-width: 849px) {
    body {background-color: Blue;}
		.header {
	    order: 0;
	    width: 95.5%;
	  }
		#footer {
		  background-color: Blue;
		  color: #aaa;
		  font-size: 8pt;
		  letter-spacing: 1px;
		  padding: 25px;
		  text-align: center;
		  text-transform: uppercase;
		}
 }
 @media screen and (min-width: 850px) {
    body {background-color: Green;}
		.header {
	    order: 0;
	    width: 95.5%;
	  }
		#footer {
		  background-color: Green;
		  color: #aaa;
		  font-size: 8pt;
		  letter-spacing: 1px;
		  padding: 25px;
		  text-align: center;
		  text-transform: uppercase;
		}
		.container {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
 }
