
img,
embed,
object,
video {
	max-width: 100%;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.box {
	width: 100%;
}

@media screen and (min-width: 565px) {
    body {background-color: Red;}
 }
 @media screen and (min-width: 566px) and (max-width: 800px) {
    body {background-color: Blue;}
		.header {
	    order: 0;
	    width: 95.5%;
	  }
		.footer {
			order: 6;
			width: 95.5%;
		}
 }
 @media screen and (min-width: 801px) {
    body {background-color: Green;}
    .container {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
 }
