
img,
embed,
object,
video {
	max-width: 100%;
}

@media screen and (max-width: 599px) {
    body {background-color: #ccc;}
		.inside #header {
			order: 1;
		}
		.inside #map-container {
			order: 2;
			background: blue none repeat scroll 0 0;
		  height: 100vw;
			position: relative;
			width: 100vw;
		}
		.inside #restaurant-img {
			width: 175%
		}
		#restaurant-hours td {
		  font-size: 7pt;
			margin: 0;
		}
		#reviews-list li {
			width: 70vw;
		}
	#footer {
		  color: #aaa;
		  font-size: 8pt;
		  letter-spacing: 1px;
		  padding: 25px;
		  text-align: center;
		  text-transform: uppercase;
		}
		.inside #footer {
		  position: absolute;
		  width: 90%;
			border: solid;
			padding: 10px;
		}
	.gridwrapper {
		 display: grid;
		 grid-template-columns: 70%;
		 grid-gap: 10%;
	}
	.gridwrapper li {
		 border-radius: 5px;
		 padding: 20px;
		 border-right: 20px;
		 font-size: 150%;
	}
 }
 @media screen and (min-width: 600px) and (max-width: 849px) {
    body {background-color: Blue;}
		.inside #map-container {
		  background: blue none repeat scroll 0 0;
		  height: 87%;
		  position: fixed;
		  right: 0;
		  top: 80px;
		  width: 47%;
		}
		.inside #restaurant-img {
			width: 85%;
		}
		#footer {
		  background-color: Blue;
		  color: #aaa;
		  font-size: 8pt;
		  letter-spacing: 1px;
		  padding: 25px;
		  text-align: center;
		  text-transform: uppercase;
		}
		.inside #footer {
		  position: absolute;
		  width: 47%;
			border: solid;
			padding: 10px;
		}
		.gridwrapper {
		 display: grid;
		 grid-template-columns: 35% 35%;
		 grid-gap: 10%;
		}

		.gridwrapper li {
		 border-radius: 5px;
		 padding: 20px;
		 border-right: 20px;
		 font-size: 150%;
		}
 }

 @media screen and (min-width: 850px) {
    body {background-color: Green;}
		.inside #map-container {
		  background: blue none repeat scroll 0 0;
		  height: 87%;
		  position: fixed;
		  right: 0;
		  top: 80px;
		  width: 47%;
		}
		.inside #restaurant-img {
			width: 85%;
			padding: 20px;
		}
		#footer {
		  background-color: Green;
		  color: #aaa;
		  font-size: 8pt;
		  letter-spacing: 1px;
		  padding: 25px;
		  text-align: center;
		  text-transform: uppercase;
		}
		.inside #footer {
		  position: absolute;
		  width: 50%;
			border: solid;
			padding: 10px;
		}
		.gridwrapper {
		 display: grid;
		 grid-template-columns: 20% 20% 20%;
		 grid-gap: 10%;
		}

		.gridwrapper li {
		 border-radius: 5px;
		 padding: 20px;
		 border-right: 10px;
		 font-size: 150%;
		}
 }
